# Hypothesis Testing Exercise-I

# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


###### Minitab File : Cutlets.mtw

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency

In [2]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
df.describe().T

        count      mean       std     min     25%     50%      75%     max
Unit A   35.0  7.019091  0.288408  6.4376  6.8315  6.9438  7.28055  7.5169
Unit B   35.0  6.964297  0.343401  6.0380  6.7536  6.9399  7.19500  7.5459

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [5]:
UnitA=df[["Unit A"]]
UnitB=df[["Unit B"]]

### NUll Hypothesis = No significance diff in size 
### Alternative hypothesis = There is significance diff in size

In [ ]:
# Performing two tailed T test 
stat, p = ttest_ind(UnitA,UnitB)
print('stat=%.2f, p=%.2f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

# As p-value > 0.05 we will accept the null hypothesis

## =========================================================

# Hypothesis Testing - II

# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
# Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
 
#### Minitab File: LabTAT.mtw

# NUll Hypothesis = No difference in Mean TAT among diff laboratories
# Alternative hypothesis = difference in Mean TAT among diff laboratories

In [ ]:
TAT=pd.read_csv("LabTAT.csv")
TAT.head()

In [ ]:
lab1=TAT[["Laboratory 1"]]
lab2=TAT[["Laboratory 2"]]
lab3=TAT[["Laboratory 3"]]
lab4=TAT[["Laboratory 4"]]

In [ ]:
# Performing Anova (f-test) as the comparision is between more than 3 values )
stat, p = f_oneway(lab1,lab2,lab3,lab4)
print('stat=%.2f, p=%.8f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

## as p value < 0.05 we will reject null hypothesis

## ================================================================

# Hypothesis Testing-III

# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [8]:
R=pd.read_csv("BuyerRatio.csv")
R.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

#####  Null Hypothesis = All proportions are equal 
#####  ALternative = Not All Proportions are not equal

In [9]:
ratio=np.array([[50,142,131,70],[435,1523,1356,750]])
ratio

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [15]:
# Chi square to compare categorical value
stat, p, dof, expected = chi2_contingency(ratio)
print('stat=%.2f, p=%.8f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

stat=1.60, p=0.66030949
Accept Null Hypothesis

### As p-value > 0.05 we will accept the null hypothesis

# =======================================================

# Hypothesis Testing-IV

# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

##### Minitab File: CustomerOrderForm.mtw

In [ ]:
TC=pd.read_csv("CostomerOrderForm.csv")
TC.head()

## Null Hypothesis-  no relationship between defective percenrtage and center
## Alternate Hypothesis-  relationship between defective percentage and center

In [ ]:
TC.info()

In [ ]:
TC['Phillippines'].value_counts(),TC['Indonesia'].value_counts(),TC['Malta'].value_counts(),TC['India'].value_counts()

In [ ]:
data=np.array([[271,267,269,280],[29,33,31,20]])
data

In [ ]:
# Chi square to compare categorical value
stat, p, dof, expected = chi2_contingency(data)
print('stat=%.2f, p=%.8f' % (stat, p))
if p > 0.05:
    print('Accept Null Hypothesis')
else:
    print('Reject Null Hypothesis')

### As p-value > 0.05 we will accept the null hypothesis